body {
  min-height: 100vh;
}

.App {
  text-align: center;
  font-family: 'Indie Flower' ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-game-container {
  padding-top: 2em;
  /*background: #1F7A8C;*/
  display: flex;
  justify-content: space-around;
}

.App-counter-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2em;
  background: #E1E5F2;
}

.container-fluid {
  display: flex;
  flex: 1 1 auto;
}

canvas {
  position: absolute;
}

.navbar-links {
  color: #FFF;
  text-decoration: none;
}

.navbar-links:hover {
  color: #FFF;
  text-decoration: none;
}

.copy {
  bottom: 0;
}

.row {
  flex-grow:1;
}

.hexagon-unblocker-container {
  flex-grow:0;
}
