.title {
    font-size: 10em;
  }
  
  .difficulty {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .difficulty-level {
    border: 1px so #000;
    border-width: thin;
    border-radius: 4%;
    border-style: outset;
  }
  
  .difficulty-level:hover {
    border-color: #6600FF;
    border-radius: 100%;
    border-width: medium;
  }
  
  .difficulty-level-link {
    color: #000;
    text-decoration: none;
  }
  
  .difficulty-level-link:hover {
    color: #6600FF;
    text-decoration: none;
  }
  
  #custom-select {
      margin: 0.1em 0.3em 0 0.3em;
  }

  #select-container {
      display: flex;
  }